/* COLOR 
Primary #e67e22
Tints
Shades
Accents
Greys #555 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px;  - due to using a fixed value user won't be able to adjust font for their needs*/
  font-size: 62.5%;
  /* how we calculate font size in pixels? 
  we want 10px
  10x / 16px = 0.0625 = 62.5% */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* HERO */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  max-width: 130rem;
  align-items: center;

  padding: 0 3.2rem;
}

.hero-text-box {
  grid-row: 1 / 2;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #e67e22;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 600;

  /* we are going to make animation using CSS to make color switch smoother */
  transition: background-color 0.3s;
}

.btn--1:link,
.btn--1:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--2:link,
.btn--2:visited {
  background-color: #fff;
  color: #555;
}

.btn--1:hover,
.btn--1:active {
  background-color: #cf711f;
}

.btn--2:hover,
.btn--2:active {
  background-color: #fdf2e9;
  /* trick to have border on the inside of elemant - to not make whole set up jump  */
  box-shadow: inset 0 0 0 3px #fff;
}
/* this is a helper class */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.hero-img {
  width: 100%;
}

.hero-img-box {
  grid-column: 2 / -1;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivery-img {
  display: flex;
}

.delivery-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;

  border: 3px solid #fdf2e9;
}

.delivery-img img:last-child {
  margin: 0;
}

.customer-text-hero {
  font-size: 1.8rem;
  font-weight: 600;
}

.customer-text-hero span {
  color: #cf711f;
  font-weight: 700;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  /* we use fixed hight bc we wish for it to follow page and stay the page at all the times */
}

.logo {
  height: 2.2rem;
}

/* NAVIGATION */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;

  color: #333;
  font-weight: 500;
  font-size: 1.8rem;

  transition: all 0.3s;
  cursor: pointer;
}

.main-nav-link {
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;
  display: inline-block;

  transition: all 0.3s;
}

.main-nav-link:link,
.main-nav-link:visited {
  transition: all 0.3s;
  cursor: pointer;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;

  display: inline-block;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* HOW IT WORKS - REUSABLE GRID */

.section-how {
  padding: 9.6rem 0;
  background-color: orangered;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
}

.section-how div div {
  padding: 100px;
  font-size: 50px;
}

/* .section-how div:nth-child(1) {
  background-color: aqua;
}
.section-how div:nth-child(2) {
  background-color: blue;
}
.section-how div:nth-child(3) {
  background-color: violet;
}
.section-how div:nth-child(4) {
  background-color: orchid;
} */
